In [2]:
#Импортируем библиотеки
import numpy as np
import pandas as pd
import copy
import re
import openpyxl

In [3]:
# Читаем таблицу 2019.
df_2019 = pd.read_csv("C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2019_welldone.csv", encoding='Windows-1251')
# Читаем таблицу 2020_old.
df_2020_old = pd.read_csv("C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2020_old_welldone.csv", encoding='Windows-1251')
# Читаем таблицу 2020_new.
df_2020_new = pd.read_csv("C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2020_new_welldone.csv", encoding='Windows-1251')
# Читаем таблицу 2021.
df_2021 = pd.read_csv("C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/2021_welldone.csv", encoding='Windows-1251')

In [4]:
# Список имен DataFrame, которые вы хотите объединить
df_names = [df_2019, df_2020_old, df_2020_new, df_2021]

In [5]:
df_2019.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"БогданаХмельницкого,52/2",ВО,2020,1,4.55
1,"БогданаХмельницкого,52/2",ВО,2020,2,5.35
2,"БогданаХмельницкого,52/2",ВО,2020,3,3.74
3,"БогданаХмельницкого,52/2",ВО,2020,4,4.28
4,"БогданаХмельницкого,52/2",ВО,2020,5,4.28

In [6]:
df_2020_old.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"БогданаХмельницкого,52/2",ВО,2020,1,4.55
1,"БогданаХмельницкого,52/2",ВО,2020,2,5.35
2,"БогданаХмельницкого,52/2",ВО,2020,3,3.74
3,"БогданаХмельницкого,52/2",ВО,2020,4,4.28
4,"БогданаХмельницкого,52/2",ВО,2020,5,4.28

In [7]:
df_2020_new.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"БогданаХмельницкого,52/2",ВО,2020,12,39.04
1,"БогданаХмельницкого,52/2",ХВС,2020,12,41.66
2,БогданаХмельницкого52/2,ТЭ,2020,12,3421.83
3,БогданаХмельницкого52/2,ЭЭ,2020,12,1178654.71
4,"Верхнепортовая,44",ВО,2020,12,8413.00

In [8]:
df_2021.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"Б.Хмельницкого,52/2",ВО,2021,1,2.67
1,"Б.Хмельницкого,52/2",ВО,2021,3,6.14
2,"Б.Хмельницкого,52/2",ВО,2021,4,4.00
3,"Б.Хмельницкого,52/2",ВО,2021,5,4.00
4,"Б.Хмельницкого,52/2",ВО,2021,6,4.00

In [9]:
# Создайте пустой DataFrame, в который будут добавлены данные
combined_data = pd.DataFrame()

In [10]:
# Объедините файлы по вертикали
for df in df_names:
    # Добавьте данные к общему DataFrame
    combined_data = pd.concat([combined_data, df], ignore_index=True)

In [11]:
# Сохраните объединенные данные в новый CSV файл
combined_data.to_csv('C:/Users/NightMare/Desktop/YandexHack/DATA_well_done/combined_data_welldone.csv', index=False)

In [12]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4640 entries, 0 to 4639
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Направление расходов        4640 non-null   object
 1   Наименование вида расходов  4640 non-null   object
 2   Год проведения              4640 non-null   int64
 3   Месяц проведения            4640 non-null   int64
 4   Конечный остаток            4640 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 181.4+ KB

In [13]:
combined_data.head()

,Направление расходов,Наименование вида расходов,Год проведения,Месяц проведения,Конечный остаток
0,"БогданаХмельницкого,52/2",ВО,2020,1,4.55
1,"БогданаХмельницкого,52/2",ВО,2020,2,5.35
2,"БогданаХмельницкого,52/2",ВО,2020,3,3.74
3,"БогданаХмельницкого,52/2",ВО,2020,4,4.28
4,"БогданаХмельницкого,52/2",ВО,2020,5,4.28